@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
.home {
  color: white;
}
/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
}
li {
  display: inline-block;
  position: absolute;
  padding: 0px 5px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}
.nav_links li {
  transition: all 0.3s ease 0s;
} */
